<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="SearchServiceName" value="your_index_name"/>
    <add key="SearchServiceAdminApiKey" value="your_search_index_admin_key"/>
    <add key="SearchServiceQueryApiKey" value="your_search_index_query_key"/>
  </appSettings>
</configuration>